* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}


.person {
	height: 100px;
	width: 100px;
	border: 5px solid #000;
	border-radius: 9999px;
	display: inline-block;
	margin: 5px;
	background-color: grey;
	color: white;
	border-radius: 50%;
	text-align: center;
	font-size: xx-large;
}

.holder {
	border: 2px solid #000;
	display: table-cell;
	width: 46%;
	min-height: 200px;
}

#outerHolder {
	display: table;
	width: 100%;
}

.selected {
	border: 5px solid red;
}
